name: "Publish to NuGet"
permissions:
  contents: read
on: workflow_dispatch
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: "8.0.x"
      - run: dotnet pack -c Release -o .
      - run: dotnet nuget push *.nupkg --source https://api.nuget.org/v3/index.json --api-key ${NUGET_API_KEY} --skip-duplicate
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
